{% render 'page-hero', title: 'Reset Password', crumb: 'Reset' %}
<section class="account">
  {%- form 'reset_customer_password', class: 'contact__form' -%}
    {%- if form.errors -%}<p role="alert">{{ form.errors | default_errors }}</p>{%- endif -%}
    <div class="contact__field"><label for="reset-password">{{ 'customer.login.password' | t }}</label><input id="reset-password" type="password" name="customer[password]" autocomplete="new-password" required></div>
    <div class="contact__field"><label for="reset-confirm">{{ 'customer.reset.confirm' | t }}</label><input id="reset-confirm" type="password" name="customer[password_confirmation]" autocomplete="new-password" required></div>
    <button type="submit" class="btn btn--filled btn--brown"><span>{{ 'customer.reset.submit' | t }}</span></button>
  {%- endform -%}
</section>
